{% extends 'layouts/base.twig' %}

{% block content %}
	{% include "/includes/inc-hero.twig" %}
	
	<div class="c-lead-container l-block">
		<div class="l-wrap">
					
			<header class="c-lead__header">
				<h2 class="c-lead__title">
					{# {{l_title}} #}
					Transformative business approach
				</h2>
			</header>
		
			{# {{l_entry}} #}

			<p>Novo Sano is a venture-backed management services organization that solves the business, technology, and regulatory challenges associated with investing and scaling medical aesthetics practices. Our non-franchise model integrates the delivery, supply, and education of unique medical aesthetics products and services with cloud-based compliance technology to create a turn-key, homogenized business that opens Med Spa investment to non-physicians, accelerates client acquisition, and creates economies of scale that maximize growth and profitability.</p>

		</div>
	</div>

	<div class="c-content__entry l-wrap">
		<article class="c-article post-type-{{post.post_type}}" id="post-{{post.ID}}">
			
		content
		</article>
	</div> 
{% endblock %}