/*--------------------------------
  
  Home
*/

$kick: c-sidekick;

.#{$kick} {
	background-color: $white;
	border-bottom: 1px solid $medium-gray;
	position: relative;
	&__block {
		// background-image: url('#{$imgPath}/bck-temp-home.jpg');
		
		padding: rem-calc(60 20); 
		position: relative;
		&:first-of-type {
			padding-top: rem-calc(30); 
		}
		@include breakpoint(large) {
			background-position: 0 0;
		}
		.#{$kick}__brand, .#{$kick}__content {
			@include grid-column;
			@include breakpoint(medium) {
				@include grid-col(6);
			}
		}
		&.even {
			.#{$kick}__brand {
				@include grid-col-unpos();
				@include breakpoint(large) {
					@include grid-col-pos(6);
				}
			}
			.#{$kick}__content {
				@include grid-col-unpos();
				@include breakpoint(large) {
					@include grid-col-pos(-6);
				}
			}
		}
	}
}
