{# footer.twig #}
	
<div class="c-footer-container l-block" role="contentinfo">
	<footer class="c-footer l-wrap">
		
	</footer> <!-- end #inner-footer -->
</div> <!-- end .footer -->
<div class="c-credits-container l-block">
	<div class="c-credits l-wrap">
		<div class="c-credits__copy">
			<p class="o-source-org copyright">&copy; Copyright {{site.title}} {{ "now"|date('Y') }}.</p>
		</div>
		<div class="c-credits__usage"></div>
	</div>
</div>