{% set t_accent  = acf.accent.value %}
{% set t_title   = acf.alternative_title.value %}
{% set t_summary = acf.alternative_title_summary.value %}

<article class="c-hero__entry">
	<header class="c-hero__header">
		{% if t_accent %}
			<span class="c-hero__accent">
				{{t_accent}}
			</span>
		{% else %}
			<hr>
		{% endif %}

		<h1 class="c-hero__title">
			{% if t_title %}
				{{t_title}}
			{% else %}
				{{post.title}}
			{% endif %}
			
			{# Medical Aesthetics world #}
		</h1>
	</header>
	
	{% if t_summary %}
	<div class="c-hero__summary">
		{{t_summary}}
	</div>
	{% endif %}
</article>