<article class="c-hero__entry">
	<header class="c-hero__header">
			<hr>

		<h1 class="c-hero__title">
			{{post.title}}
		</h1>
	</header>
	
	{# {% if h_summary %}
	<div class="c-hero__summary">
		{{h_summary}}
	</div>
	{% endif %} #}
</article>