<article class="c-hero__entry">
	<header class="c-hero__header">
		{# <hr> #}
		<span class="c-hero__accent">
			{# {{h_accent}} #}
			Unlocking the
		</span>

		<h1 class="c-hero__title">
			{# {{post.title}} #}
			Medical Aesthetics world
		</h1>
	</header>
	
	<div class="c-hero__summary">
		{# {{h_summary}} #}
		<p>360-degree approach to transforming the med spa industry through investment, management, and technology that accelerates profitable growth</p>
	</div>
</article>